@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 180vh;
}
.login-container {
    height: 130vh;
    width: 100vw;
    background-image: url(../login/resources/bg_1.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    position: fixed;
    /* top: 0; */
    z-index: -1;
}
.box{
    opacity: 0.38;
    height: 100vh;
    width: 100%;
    background-color: black;
    
}
.log {
    display: flex;
    z-index: 10;
    color: white;
    justify-content: center;
    padding-top: 135px;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
    font-size: 56px;
}
.lg_site{
    /* color: white; */
    /* justify-content: center; */
    padding-top: 115px;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
    font-size: 56px;
    text-align: center;
}
.infobox{
    margin-top: 105px;
    height: 45vh;
    width: 100vw;
    background-color: white;
}
.bx{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
img{
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 350px;
    /* float: left; */
    margin-top: 15px;
    margin-left: 190px;
}
.info{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px b("100px") c("100px");
    gap: 35px;
    justify-content: flex-end;
    align-items: center;
    height: 70vh;
    width: 75vw;
    /* margin: 80px 173px 0px 0px; */
    color: black;
    font-size: 22px;
    text-align: center;
}
.combine{
    grid-column: 1/3;
}
#name{
    padding: 8px 30px;
    margin-top: 10px;
    text-align: center;
}
#number{
    padding: 8px 30px;
    margin-top: 10px;
    text-align: center;
}
#date{
    padding: 8px 30px;
    margin-top: 10px;
    text-align: center;
}
#time{
    padding: 8px 30px;
    margin-top: 10px;
    text-align: center;
}
#pnumber{
    padding: 8px 30px;
    margin-top: 10px;
    text-align: center;
}
button {
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 185px;
}