@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
}

.login-container {
    height: 100vh;
    width: 100vw;
    background-image: url(resources/bg_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    position: fixed;
    /* top: 0; */
    z-index: -1;
}
.box{
    opacity: 0.38;
    height: 100vh;
    width: 100%;
    background-color: black;
    
}
.log {
    display: flex;
    z-index: 10;
    color: white;
    justify-content: center;
    padding-top: 135px;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
    font-size: 56px;
}
.lg_site{
    /* color: white; */
    /* justify-content: center; */
    padding-top: 115px;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
    font-size: 56px;
    text-align: center;
}
.infobox{
    margin-top: 105px;
    height: 71vh;
    width: 100vw;
    background-color: white;
}
.info{

    height: 40vh;
    width: 40vw;
    margin: 80px 173px 0px 400px;
    color: black;
}
#username{
    padding: 8px 150px;
    margin-top: 10px;
    text-align: center;
}
#password{
    margin-top: 10px;
    padding: 8px 150px;
    text-align: center;
}

button {
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 185px;
}
.reg{
    margin-left: 140px;
}
button:hover {
    background-color: #45a049;
}

input[type=checkbox]::after{
    color: blue;
}